/*
* 2-g css
*/
/* colors */
/* fonts */
body {
  color: #428bca;
}
div#header {
  background: deepskyblue;
}
div#left_panel {
  clear: both;
  float: left;
  width: 345px;
}
div#main_window {
  float: left;
  padding: 5px;
  width: 1250px;
}
div.next {
  clear: both;
}
.nav > li > a {
  padding-left: 10px;
}
.nav > li > a .childs {
  padding-left: 12px;
  margin-left: 8px;
}
.nav > li div.childs {
  padding: 10px;
  padding-left: 12px;
  margin-left: 8px;
  display: block;
  position: relative;
  cursor: pointer;
}
.nav > li span {
  position: absolute;
  top: 14px;
  left: -4px;
  font-size: 9pt;
  cursor: pointer;
}
.nav > li div.tree_not_link {
  color: #595959;
  padding: 10px;
}
.btn-default > span {
  float: left;
}
.btn-default > .timer_box {
  float: right;
  margin-left: 4px;
}
span.glyphicon {
  cursor: pointer;
}
ul.cattree {
  margin-left: 10px;
}
ul.tree {
  list-style-type: none;
  padding: 2px;
}
ul.tree div.tree_childs {
  margin-left: 30px;
}
ul.tree .btn-mini {
  font-size: 10px;
  padding: 1px 4px;
}
ul.tree div.tree_over_node {
  border: 1px solid #428bca;
  background: #d6e5ed;
}
ul.tree div.tree_box_node {
  clear: both;
  display: inline-block;
  float: left;
  padding: 12px;
  margin: 5px;
  margin-left: 35px;
  margin-bottom: 15px;
  width: auto;
  min-width: 170px;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  cursor: move;
}
ul.tree div.tree_box_node span.tree_box_node_name {
  margin-left: 5px;
}
ul.tree div.tree_box_node div.dependency_open_link {
  float: right;
  padding-top: 3px;
  font-size: 0.9em;
}
ul.tree div.tree_box_node div.tree_dependency_box {
  margin: 5px;
}
ul.tree div.tree_box_node_controls {
  float: left;
  margin-left: -65px;
  margin-top: -5px;
}
ul.tree .placeholder {
  background: #fff078;
}
div.List {
  width: 650px;
}
div.List div.ListHeader {
  padding: 3px;
}
div.List div.ListHeader div {
  float: left;
}
div.List div.ListHeader div.ButtonAdd {
  float: right;
}
div.List div.MainList {
  clear: both;
  overflow: hidden;
  /*div.item:hover{
      background: @light_silver+30;
      border: 1px solid @light_silver - 50;
      cursor: pointer;
    }*/
}
div.List div.MainList div.item {
  clear: both;
  float: left;
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  min-width: 640px;
}
div.List div.MainList div.item a {
  text-decoration: none;
}
div.List div.MainList div.item div.item_name,
div.List div.MainList div.item div.item_cp {
  float: left;
}
div.List div.MainList div.item div.item_name {
  min-width: 440px;
}
div.List div.MainList div.item div.item_cp {
  min-width: 180px;
}
div.List div.MainList div.item div.item_cp button {
  margin-left: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
div.item_attr {
  margin-top: 10px;
}
div.form_label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}
.form-control {
  padding: 5px;
}
div.list_box {
  float: left;
}
div.list_box div.list_box_select select {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  min-width: 307.5px;
}
.enlight {
  background: #f4ffff;
}
/* msg's*/
.modal-dialog {
  width: 650px;
}
.modal-body {
  overflow: hidden;
}
.alert-success {
  margin: 10px;
  color: white;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
  font-size: 1em;
}
.alert-success strong {
  /*font-size: @base_font_size+0.2;*/
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.alert-success .modal-header {
  background: #3cb778;
  border: none;
  text-align: center;
}
.alert-success .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-success .modal-body {
  background: #fff;
  /*font-size: @base_font_size;*/
  color: #46a346;
  border: none;
  text-align: center;
  padding: 0;
}
.alert-success .modal-body > .header {
  padding-top: 25px;
  padding-bottom: 10px;
}
.alert-success .modal-body > strong {
  display: block;
  padding-top: 10px;
}
.alert-success .modal-footer {
  background: #fff;
  border: none;
  text-align: center;
}
.alert-error {
  background: #d00006;
  margin: 10px;
  color: white;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
  font-size: 1em;
}
.alert-error strong {
  font-size: 1em;
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}
.alert-error .server-log {
  padding: 10px;
  overflow: hidden;
  background: #fff;
  color: #d00006;
}
.alert-error .modal-header {
  border: none;
  text-align: center;
}
.alert-error .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-error .modal-body {
  background: #fff;
  /*font-size: @base_font_size;*/
  color: #d00006;
  border: none;
  text-align: center;
  padding: 0;
}
.alert-error .modal-body > .header {
  padding-top: 25px;
  padding-bottom: 10px;
}
.alert-error .modal-body > strong {
  display: block;
  padding-top: 10px;
}
.alert-error .modal-footer {
  background: #fff;
  border: none;
  text-align: center;
  padding: 10px;
}
.alert-warning {
  background: #d00006;
  color: white;
  font-size: 1.5em;
  border-color: #e4141a;
  /*
  .modal-body{
    text-align: center;
    padding: @big;
    font-size: 0.8em;
  }*/
}
.alert-warning .modal-header {
  border: none;
  text-align: center;
  padding: 10px;
}
.alert-warning .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-warning .modal-footer {
  border: none;
  text-align: center;
  padding: 10px;
}
