/*
* 2-g css
*/

@base_width: 1600px;
@left_panel_width: 350px;

@min: 2px;
@small: 3px;
@med: 5px;
@big: 10px;
@huge: 20px;


/* colors */
@dark_red: #d00a03;
@light_silver: #d6e5ed;

/* fonts */
@base_font_size: 1em;
@base_font_color: #428bca;

body{
    color: @base_font_color;
}

div#header{
        background: deepskyblue;
}

div#main_container{

}

div#left_panel{
  clear: both;
  float: left;
  width: @left_panel_width - @med;
}


div#main_window{
    float: left;
    padding: @med;
    width: @base_width - @left_panel_width;
}

div.next{
  clear: both;
}

.nav > li{

  > a{
    padding-left: @big;

    .childs {
      padding-left: 12px;
      margin-left: 8px;
    }
  }
  div.childs {
    padding: @big;
    padding-left: 12px;
    margin-left: 8px;
    display: block;
    position: relative;
    cursor: pointer;
  }

  span{
    position: absolute;
    top: 14px;
    left: -4px;
    font-size: 9pt;
    cursor: pointer;
  }
  div.tree_not_link{
    color: #595959;
    padding: @big;
  }
}

ul.cattree{
  margin-left: 10px;
}

div.tree_node{
  border: 1px solid silver;
  padding: @big;
  /*background: silver;*/
  width: auto;
}

div.MainList{
  overflow: hidden;

  div.item{
    clear: both;
    float:left;
    margin: @min;
    padding: @med;
    border-radius: @small;
    border: 1px solid @light_silver;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);

    a{
      text-decoration: none;
    }

    div.item_name, div.item_cp{
      float: left;
    }

    div.item_name{
      min-width: @base_modal_width/3;
    }


    div.item_cp{

      button{
        margin-left: @min;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  /*div.item:hover{
    background: @light_silver+30;
    border: 1px solid @light_silver - 50;
    cursor: pointer;
  }*/
}

div.item_attr{
  margin-top: @big;
}

div.form_label{
  display: inline-block;
  font-weight: 700;
  margin-bottom: @med;
  max-width: 100%;
}

.form-control{
  padding: @med;
}

div.list_box{
  float: left;

  div.list_box_select{
    select{
      padding: @small;
      border-radius: @small;
      border: 1px solid @light_silver;
      min-width: @base_modal_width/4;
    }
  }


  div.ListBoxCP{

  }

}

.enlight{
  background: @light_silver+30;
}

/* msg's*/

@base_modal_width: @base_width - @left_panel_width - @big*2;

.alert-error{
  background: @dark_red;
  margin: @big;
  color: white;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: @base_font_size;

  strong{
    font-size: @base_font_size+0.2;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
}
