/*
* 2-g css
*/
/* colors */
/* fonts */
body {
  color: #428bca;
}
div#header {
  background: deepskyblue;
}
div#left_panel {
  clear: both;
  float: left;
  width: 345px;
}
div#main_window {
  float: left;
  padding: 5px;
  width: 1250px;
}
div.next {
  clear: both;
}
.nav > li > a {
  padding-left: 10px;
}
.nav > li > a .childs {
  padding-left: 12px;
  margin-left: 8px;
}
.nav > li div.childs {
  padding: 10px;
  padding-left: 12px;
  margin-left: 8px;
  display: block;
  position: relative;
  cursor: pointer;
}
.nav > li span {
  position: absolute;
  top: 14px;
  left: -4px;
  font-size: 9pt;
  cursor: pointer;
}
.well ul.cattree {
  margin-left: 10px;
}
div.MainList {
  overflow: hidden;
  /*div.item:hover{
    background: @light_silver+30;
    border: 1px solid @light_silver - 50;
    cursor: pointer;
  }*/
}
div.MainList div.item,
div.MainList div.item_attr {
  clear: both;
  float: left;
  margin: 1px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
}
div.MainList div.item a,
div.MainList div.item_attr a {
  text-decoration: none;
}
div.MainList div.item div.item_name,
div.MainList div.item_attr div.item_name,
div.MainList div.item div.item_cp,
div.MainList div.item_attr div.item_cp {
  float: left;
}
div.MainList div.item div.item_name,
div.MainList div.item_attr div.item_name {
  min-width: 307.5px;
}
div.MainList div.item div.item_cp button,
div.MainList div.item_attr div.item_cp button {
  margin-left: 1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.enlight {
  background: #f4ffff;
}
/* msg's*/
.alert-error {
  background: #d00a03;
  margin: 10px;
  color: white;
  width: 1230px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.alert-error strong {
  font-size: 1.2em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
