/*
* 2-g css
*/
/* colors */
/* fonts */
body {
  color: #428bca;
}
div#header {
  background: #1dc5fd;
  color: white;
  font-size: 1.8em;
  overflow: hidden;
}
div#header div#logo {
  float: left;
  overflow: hidden;
  width: 15%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: deepskyblue;
}
div#header div.header_login {
  float: left;
}
div#main_main {
  padding-left: 15px;
}
div#main_top {
  padding-left: 15px;
}
div#main_top h2 {
  margin: 0;
  padding: 5px;
  padding-left: 0;
  font-size: 1.5em;
}
div#left_panel {
  clear: both;
  float: left;
  width: 15%;
}
div#main_window {
  float: left;
  padding: 5px;
  width: 65%;
}
div.next {
  clear: both;
}
div.well {
  -webkit-border-radius: 4px!important;
  -webkit-border-top-left-radius: 0px!important;
  -webkit-border-top-right-radius: 0px!important;
  -moz-border-radius: 4px!important;
  -moz-border-radius-topleft: 0px!important;
  -moz-border-radius-topright: 0px!important;
  border-radius: 4px!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}
.nav > li > a {
  padding-left: 10px;
}
.nav > li > a .childs {
  padding-left: 12px;
  margin-left: 8px;
}
.nav > li div.childs {
  padding: 10px;
  padding-left: 12px;
  margin-left: 8px;
  display: block;
  position: relative;
  cursor: pointer;
}
.nav > li span {
  position: absolute;
  top: 14px;
  left: -4px;
  font-size: 9pt;
  cursor: pointer;
}
.nav > li div.tree_not_link {
  color: #595959;
  padding: 10px;
}
.btn-default > span {
  float: left;
}
.btn-default > .timer_box {
  float: right;
  margin-left: 4px;
}
span.glyphicon {
  cursor: pointer;
}
ul.cattree {
  margin-left: 10px;
}
ul.tree {
  list-style-type: none;
  padding: 2px;
  margin-top: 4px;
}
ul.tree div.tree_childs {
  margin-left: 30px;
}
ul.tree div.tree_childs ul {
  list-style-type: none;
  padding: 2px;
}
ul.tree .btn-mini {
  font-size: 10px;
  padding: 1px 3px 3px;
}
ul.tree div.tree_over_node {
  border: 1px solid #428bca;
  background: #d6e5ed;
}
ul.tree div.tree_box_node {
  clear: both;
  display: inline-block;
  float: left;
  padding: 12px;
  margin: 5px;
  margin-left: 35px;
  margin-bottom: 15px;
  width: auto;
  min-width: 170px;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  cursor: move;
}
ul.tree div.tree_box_node span.tree_box_node_name {
  margin-left: 5px;
}
ul.tree div.tree_box_node div.dependency_open_link {
  float: right;
  padding-top: 3px;
  font-size: 0.9em;
}
ul.tree div.tree_box_node div.tree_dependency_box {
  margin: 5px;
}
ul.tree div.tree_box_node_controls {
  float: left;
  margin-left: -65px;
  margin-top: -4px;
}
ul.tree .placeholder {
  background: #fff078;
}
.lowercase {
  text-transform: lowercase;
}
div.List div.ListHeader {
  padding: 3px;
}
div.List div.ListHeader div {
  float: left;
}
div.List div.ListHeader div.ButtonAdd {
  float: right;
}
div.List div.MainList {
  clear: both;
  overflow: hidden;
  width: 660px;
  /*div.item:hover{
      background: @light_silver+30;
      border: 1px solid @light_silver - 50;
      cursor: pointer;
    }*/
}
div.List div.MainList ul {
  padding: 0;
}
div.List div.MainList div.search {
  float: left;
  padding: 2px;
}
div.List div.MainList div.search input {
  padding: 5px;
  width: 350px;
}
div.List div.MainList div.btn_add {
  float: right;
  padding: 5px;
  padding-top: 7px;
}
div.List div.MainList div.btn_add button {
  padding: 4px 30px;
}
div.List div.MainList div {
  /*padding: @min;*/
}
div.List div.MainList ul li.item {
  list-style-type: none;
  clear: both;
  float: left;
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  /*min-width: @list_item_width;*/
  width: 99%;
}
div.List div.MainList ul li.item a {
  text-decoration: none;
}
div.List div.MainList ul li.item div.item_name,
div.List div.MainList ul li.item div.item_cp {
  float: right;
}
div.List div.MainList ul li.item div.item_name {
  min-width: 440px;
  float: left;
}
div.List div.MainList ul li.item div.item_cp {
  min-width: 180px;
}
div.List div.MainList ul li.item div.item_cp button {
  margin-left: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
div.List div.MainList li {
  margin: 2px;
  width: 99%;
}
div.List div.MainList li .alert-info {
  clear: both;
  padding: 10px;
}
div.List div.MainList li span.msg {
  padding-left: 10px;
}
div.List div.SimpleList {
  clear: both;
  overflow: hidden;
  width: 320px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
  padding: 5px;
  /*div.item:hover{
      background: @light_silver+30;
      border: 1px solid @light_silver - 50;
      cursor: pointer;
    }*/
}
div.List div.SimpleList ul {
  padding: 0;
}
div.List div.SimpleList div.search {
  float: left;
  padding: 2px;
}
div.List div.SimpleList div.search input {
  padding: 5px;
  width: 350px;
}
div.List div.SimpleList div.btn_add {
  float: right;
  padding: 2.5px;
  padding-top: 3.5px;
}
div.List div.SimpleList div.btn_add button {
  padding: 2px 15px;
}
div.List div.SimpleList div {
  /*padding: @min;*/
}
div.List div.SimpleList ul li.item {
  list-style-type: none;
  clear: both;
  float: left;
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  /*min-width: @list_item_width;*/
  width: 99%;
}
div.List div.SimpleList ul li.item a {
  text-decoration: none;
}
div.List div.SimpleList ul li.item div.item_name,
div.List div.SimpleList ul li.item div.item_cp {
  float: right;
}
div.List div.SimpleList ul li.item div.item_name {
  min-width: 440px;
  float: left;
}
div.List div.SimpleList ul li.item div.item_cp {
  /*min-width: @item_cp;*/
}
div.List div.SimpleList ul li.item div.item_cp button {
  margin-left: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
div.List div.SimpleList ul li.item div.item_cp .btn-xs,
div.List div.SimpleList ul li.item div.item_cp .btn-group-xs > .btn {
  border-radius: 3px;
  font-size: 8px;
  line-height: 1.5;
  padding: 3px 4px;
}
div.List div.SimpleList li {
  margin: 2px;
  width: 99%;
}
div.List div.SimpleList li .alert-info {
  clear: both;
  padding: 10px;
}
div.List div.SimpleList li span.msg {
  padding-left: 10px;
}
div.item_attr {
  margin-top: 10px;
}
div.form_label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}
.form-control {
  padding: 5px;
}
div.two-way-list-box div.list_box_container {
  float: left;
}
div.two-way-list-box div.list_box_container > label {
  display: block;
}
div.list_box_outer_container {
  overflow: hidden;
  color: #428bca;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 5px;
}
div.list_box_outer_container div.label {
  color: #428bca;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
  max-width: 100%;
  padding: 0;
  font-size: 1.1em;
}
div.list_box_outer_container:focus {
  border-color: #66afe9;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0.75)inset, 0 0 8px rgba(102, 107, 233, 0.6);*/
}
div.list_box {
  float: left;
}
div.list_box div.list_box_select select {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  min-width: 302.5px;
}
div.list_box div.empty_list_box {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #d6e5ed;
  min-width: 302.5px;
  min-height: 178px;
}
.enlight {
  background: #f4ffff;
}
/* msg's*/
.modal-dialog {
  margin-top: 112px;
  width: 650px;
}
.modal-body {
  overflow: hidden;
}
.alert-info {
  clear: both;
}
.underline {
  text-decoration: underline;
}
div.switch_view {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}
.alert-success {
  margin: 10px;
  color: white;
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);*/
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
  font-size: 1em;
}
.alert-success strong {
  /*font-size: @base_font_size+0.2;*/
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}
.alert-success .modal-header {
  background: #159553;
  border: none;
  text-align: center;
}
.alert-success .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-success .modal-body {
  background: #fff;
  /*font-size: @base_font_size;*/
  color: #46a346;
  border: none;
  text-align: center;
  padding: 0;
}
.alert-success .modal-body > .header {
  padding-top: 25px;
  padding-bottom: 10px;
}
.alert-success .modal-body > strong {
  display: block;
  padding-top: 10px;
}
.alert-success .modal-footer {
  background: #fff;
  border: none;
  text-align: center;
}
.alert-error {
  background: #d00006;
  margin: 10px;
  color: white;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.065);
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
  font-size: 1em;
}
.alert-error strong {
  font-size: 1em;
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}
.alert-error .server-log {
  padding: 10px;
  overflow: hidden;
  background: #fff;
  color: #d00006;
}
.alert-error .modal-header {
  border: none;
  text-align: center;
}
.alert-error .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-error .modal-body {
  background: #fff;
  /*font-size: @base_font_size;*/
  color: #d00006;
  border: none;
  text-align: center;
  padding: 0;
}
.alert-error .modal-body > .header {
  padding-top: 25px;
  padding-bottom: 10px;
}
.alert-error .modal-body > strong {
  display: block;
  padding-top: 10px;
}
.alert-error .modal-footer {
  background: #fff;
  border: none;
  text-align: center;
  padding: 10px;
}
.alert-warning {
  background: #d00006;
  color: white;
  font-size: 1.5em;
  border-color: #e4141a;
  /*

  .modal-body{
    text-align: center;
    padding: @big;
    font-size: 0.8em;
  }

  */
}
.alert-warning .modal-header {
  border: none;
  text-align: center;
  padding: 10px;
}
.alert-warning .modal-header > span.glyphicon {
  font-size: 40px;
  padding: 2px;
}
.alert-warning .modal-footer {
  border: none;
  text-align: center;
  padding: 10px;
}
/* for level nodes */
div.level {
  margin-top: 0;
  padding: 10px;
  padding-left: 10px;
  font-family: Helvetica;
  color: #3a537c;
  line-height: 1.5;
  font-weight: 100;
  background: #d9e8ff;
}
div.level div.level_name {
  font-size: 1.2em;
  padding: 10px;
}
div.level div.level_nodes {
  /*padding: 10px;*/
  overflow: hidden;
}
div.level div.level_nodes div {
  float: left;
  display: table-cell;
  vertical-align: middle;
}
div.level div.level_nodes div ul {
  overflow: hidden;
}
div.level div.level_nodes div ul li {
  cursor: pointer;
  float: left;
  display: block;
  font-family: Helvetica;
  font-size: 1em;
  margin-left: 2px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background: #f6672e;
  color: #ffffff;
  opacity: 0.75;
}
div.level div.level_nodes div ul li:hover {
  opacity: 1;
}
div.level div.level_nodes div ul li.level_color_1 {
  background: #f6672e;
}
div.level div.level_nodes div ul li.level_color_2 {
  background: #009bd4;
}
div.level div.level_nodes div ul li.level_color_3 {
  background: #9fc53a;
}
div.level div.level_nodes div ul li.level_color_4 {
  background: #ffb200;
}
div.level div.level_nodes div ul li.level_color_5 {
  background: #8f5a9f;
}
div.level div.level_nodes div ul li.level_color_6 {
  background: #4ec9be;
}
div.level div.level_nodes div ul li.level_color_7 {
  background: #b7aeac;
}
div.level div.level_nodes div ul li.level_color_8 {
  background: #3a537c;
}
div.level div.level_nodes div ul li.level_color_9 {
  background: #e20404;
}
div.level div.level_nodes div ul li.dragging {
  border: 1px solid white;
  z-index: 3;
}
div.level div.level_nodes div li.node_real {
  display: table-cell;
  overflow: hidden;
  /*width: 60px;
        height: 60px;*/
  background-image: url('/img/admin/node_real_small_white.png') !important;
  background-repeat: no-repeat !important;
  background-position: 9px 46%!important;
}
div.level div.level_nodes div div.node_title {
  /*overflow: hidden;*/
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 35px;
  /*margin-top: 15px;*/
  font-size: 0.8em;
  color: #ffffff;
  text-align: center;
  top: 50%;
  /*background: url('/img/admin/blue_50_opacity.png');
        border-radius: @big;*/
}
div.level div.level_nodes div.node_abstract {
  display: table-cell;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background: url('/img/admin/node_abstract_dark.png');
}
div.level div.level_nodes div.node_real {
  display: table-cell;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background: url('/img/admin/node_real_dark.png');
}
div.level:nth-child(odd) {
  background: #e9f0ff;
  color: #3a537c;
}
