<!DOCTYPE html>
<html>
<head>
    <!--<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="js/styles/gis.full.min.css"/>
    <link rel="stylesheet" href="pwgis.css"/>

    <!--<script>L_DISABLE_3D = true;</script>-->
    <script src="js/scripts/gis.full.min.js"></script>
    <script src="pwgis.js"></script>
    <script src="js/canvasjs.min.js"></script>
    <script src="bio_info/bio_info.js"></script>
</head>
<body>
<div id="map"></div>
<script>loadMap()</script>
</body>
</html>