@base_width: 1900px; //1600
@window_height: 1024px;
@left_panel_width: 286px;
@right_panel_width: 286px;


@min: 2px;
@small: 3px;
@med: 5px;
@big: 10px;
@huge: 20px;


/* colors */
@dark_red: #d00006;
@dark_green: #46a346;
@success_green: #159553;
@light_silver: #d6e5ed;
@warning_color: #ec9a25;
@blue_glow: #66afe9;
@light_grey_from_blue: #f3f7ff;
//@easy_black: #484848;
@easy_black: #646464;
@black: #222;

@deepskyblue: deepskyblue;

/* -- headr -- */
@logo_bg: @deepskyblue;

/* fonts */
@base_font: 'Open Sans', sans-serif;
@base_font_size: 1em;
@base_font_color: #428bca;

@base_text_shadow: 0 1px 1px @easy_black;
@light_up_text_shadow: 0 1px 1px @success_green;