@import 'constants.less';

.paginator{
  clear: both;
  overflow: hidden;

  ul.pages{
    //display: inline-block;
    overflow: hidden;
    width: 500px;

    li{
      /*
      display: inline;
      list-style-type: none;
      margin: @min;
      line-height: @big*3;
      */

      float: left;
      display: block;
      line-height: 1.5;
      width: @big*3;
      height: @big*3;
      margin: 5px;
      text-align: center;

      a{
        border-radius: 100%;

        float: left;
        display: block;
        line-height: 1.5;
        width: @big*3;
        height: @big*3;
        padding: @min*2 0;
      }

      a:hover{
        background-color: #4DAD16;
        color: white;
      }

      span.glyphicon{
        line-height: 1;
        top: 0;
        padding: @min*2 0;
      }
    }

    li.current_page{
      padding: @min*2 @big;
    }
  }
}
