@import 'constants.less';

.paginator{
  clear: both;
  overflow: hidden;

  ul.pages{
    overflow: hidden;
    width: 500px;

    li{
      float: left;
      list-style-type: none;
      margin: @min
    }
  }
}
