/* colors */
/* -- headr -- */
/* fonts */
.paginator {
  clear: both;
  overflow: hidden;
}
.paginator ul.pages {
  overflow: hidden;
  float: left;
  width: 500px;
  margin: 0;
  padding: 0;
}
.paginator ul.pages > li {
  /*
      display: inline;
      list-style-type: none;
      margin: @min;
      line-height: @big*3;
      */
  float: left;
  display: block;
  line-height: 1.5;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
}
.paginator ul.pages > li a {
  border-radius: 100%;
  float: left;
  display: block;
  line-height: 1.5;
  width: 30px;
  height: 30px;
  padding: 4px 0;
}
.paginator ul.pages > li a:hover {
  background-color: #4DAD16;
  color: white;
}
.paginator ul.pages > li span.glyphicon {
  line-height: 1;
  top: 0;
  padding: 4px 0;
}
.paginator ul.pages li.current_page {
  padding: 4px 0;
  float: left;
  display: block;
  line-height: 1.5;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background-color: #4DAD16;
  border-radius: 100%;
  color: white;
}
.paginator div.limit {
  overflow: hidden;
  float: right;
  padding-top: 10px;
}
.paginator div.limit label,
.paginator div.limit ul.options_block {
  float: left;
}
.paginator div.limit ul.options_block {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
.paginator div.limit ul.options_block > li {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: 30px;
}
.paginator div.limit ul.options_block li:after {
  content: ', ';
}
.paginator div.limit ul.options_block li:last-child:after {
  content: '';
}
